// Variables

$boardColour        : #000
$boardBorderColour  : #ccc
$circleColour       : #00c
$crossColour        : #c00

$borderWidth        : 5px


#mainBoard
  width   : 600px
  height  : 600px

div.cell
  height      : 33%
  width       : 32%
  text-align  : center
  display     : inline-block
div.cell[data-coords^="b"]
  border-left   : $borderWidth solid $boardBorderColour
  border-right  : $borderWidth solid $boardBorderColour
div.cell[data-coords$="2"]
  border-top    : $borderWidth solid $boardBorderColour
  border-bottom : $borderWidth solid $boardBorderColour


.cross div
  width     : 100px
  height    : 100px
  position  : relative
  -webkit-transform : rotate(45deg)
  -moz-transform    : rotate(45deg)
  -o-transform      : rotate(45deg)
  -ms-transform     : rotate(45deg)
  transform         : rotate(45deg)

  &:before, &:after 
    content   : ""
    position  : absolute
    z-index   : -1
    background: #d00

  &:before 
    left        : 87%
    width       : 30%
    height      : 100%

  &:after
    top         : 50%
    height      : 30%
    margin-top  : -15%
    width       : 100%

.circle div
  width         : 80px
  height        : 80px
  border-radius : 80px
  background    : transparent
  border        : 22px solid green
  margin        : 0 auto
  top           : 20%
  position      : relative
